
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.titulosResponsive{
  @apply text-5xl font-bold mb-4 p-8 text-justify;
}


.subtitulosResponsive{
  @apply   md:text-3xl font-bold mb-4 p-8 text-center;
}

.textoResponsive{
  @apply md:text-2xl font-bold text-justify ;
}

.textoResponsive2{
  @apply text-xs md:text-2xl font-bold text-justify ;
}

.estiloPlanes{
  @apply 
border
rounded-2xl
p-8
bg-blue-950
}

.estiloPlanesCayan{
  @apply 
border
rounded-2xl
p-8
bg-cyan-950
}


.estiloPlanesFuccia{
  @apply 
border
rounded-2xl
p-8
bg-fuchsia-950
}





